<form action="/CanHo/AddCH" method="post">
    <label>Mã căn hộ:</label>  <input type="text" name="MaCanHo" required/></br>
    <label>Tên chủ hộ:</label> <input type="text" name="TenChuHo" /></br>
                               <input type="submit" value="Thêm" name="submit" id="them" />
</form>