<form action="/NhanVien/ListByTime" method="post">
    <label>Số lần sửa:</label> <input type="text" name="soLan" /><br>
                               <input type="submit" name="Liệt kê" id="them" />
</form>
